*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures

# google-services / firebase configuration
google-services.json

# OSX files
.DS_Store
# Windows thumbnail db
Thumbs.db

#NDK
obj/